node-red/firestoreToPLC/multiEquipmentPLC_flow.json
[{"id":"3a9f4702.9f2d48","type":"tab","label":"multiEquipmentPLC","disabled":false,"info":""},{"id":"2ade067a.2bc39a","type":"Firestore in","z":"3a9f4702.9f2d48","name":"getCmd","collection":"Cmd","group":false,"document":"stat","realtime":true,"query":[],"admin":"a6a03384.eea08","x":120,"y":380,"wires":[["677c4f5b.21121"]]},{"id":"677c4f5b.21121","type":"json","z":"3a9f4702.9f2d48","name":"","property":"payload","action":"","pretty":false,"x":290,"y":380,"wires":[["696baf23.93393"]]},{"id":"66dff262.60d0ec","type":"SE_Modbus-Write","z":"3a9f4702.9f2d48","name":"SEModbusWrite","version":"1.2.0","unitid":"","dataType":"HoldingRegister","adr":"","quantity":"","logging":"1","loggingLevel":"error","server":"2108c760.32f9c8","alltags":"","x":680,"y":380,"wires":[["2ae084fe.5df97c"]]},{"id":"696baf23.93393","type":"function","z":"3a9f4702.9f2d48","name":"","func":"var obj = JSON.parse(msg.payload);\nvar num_obj;\nif(obj.equip == \"VALVE\"){\n    num_obj = 209 + obj.num;\n}else if(obj.equip == \"MOTOR\"){\n    num_obj = 199 + obj.num;\n}\n\nvar str = '{\"value\":' + obj.status + ',\"unitid\":1,\"fc\":6,\"address\":' + num_obj + ',\"quantity\":1}'\n\nvar msg = {payload : str};\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["115dea4.0443716"]]},{"id":"115dea4.0443716","type":"json","z":"3a9f4702.9f2d48","name":"","property":"payload","action":"","pretty":false,"x":530,"y":380,"wires":[["66dff262.60d0ec"]]},{"id":"2ae084fe.5df97c","type":"debug","z":"3a9f4702.9f2d48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":380,"wires":[]},{"id":"a6a03384.eea08","type":"firebase admin","z":"","name":"multiEquipment"},{"id":"2108c760.32f9c8","type":"SE_Modbus-Client","z":"","name":"PLC_EX","clienttype":"tcp","bufferCommands":"1","tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","commandDelay":"100","clientTimeout":"10000","reconnectTimeout":"2000"}]