node-red/SchneiderAssistantBot_telegram/telegrambot_flow.json
[{"id":"505d6f18.777de","type":"tab","label":"TelegramBot","disabled":false,"info":""},{"id":"95e19b79.d51d28","type":"telegram receiver","z":"505d6f18.777de","name":"","bot":"8cb7f71b.e1da38","saveDataDir":"","x":130,"y":260,"wires":[["76908507.c81e2c"],["56c2de36.b02aa","3f147b86.1dd394"]]},{"id":"edaec44d.661618","type":"SE_Modbus-Read","z":"505d6f18.777de","name":"SEModbusReadMOTORI","version":"1.2.0","unitid":"1","dataType":"HoldingRegister","adr":"300","quantity":"8","rate":"3","rateUnit":"s","logging":"1","loggingLevel":"error","server":"2108c760.32f9c8","alltags":"[{\"address\":\"300\",\"tag\":\"m1\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"301\",\"tag\":\"m2\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"302\",\"tag\":\"m3\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"303\",\"tag\":\"m4\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"304\",\"tag\":\"m5\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"305\",\"tag\":\"m6\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"306\",\"tag\":\"m7\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"307\",\"tag\":\"m8\",\"type\":\"boolean\",\"isEnabled\":true}]","x":170,"y":40,"wires":[["637d0f20.8defb"]]},{"id":"fafb9712.e96da8","type":"SE_Modbus-Read","z":"505d6f18.777de","name":"SEModbusReadVALVOLE","version":"1.2.0","unitid":"1","dataType":"HoldingRegister","adr":"310","quantity":"8","rate":"3","rateUnit":"s","logging":"1","loggingLevel":"error","server":"2108c760.32f9c8","alltags":"[{\"address\":\"310\",\"tag\":\"v1\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"311\",\"tag\":\"v2\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"312\",\"tag\":\"v3\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"313\",\"tag\":\"v4\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"314\",\"tag\":\"v5\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"315\",\"tag\":\"v6\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"316\",\"tag\":\"v7\",\"type\":\"boolean\",\"isEnabled\":true},{\"address\":\"317\",\"tag\":\"v8\",\"type\":\"boolean\",\"isEnabled\":true}]","x":170,"y":100,"wires":[["a3f291cf.db5d1"]]},{"id":"bc09f0e.afa8b1","type":"telegram sender","z":"505d6f18.777de","name":"","bot":"8cb7f71b.e1da38","x":610,"y":300,"wires":[["5f9bd91d.3de478"]]},{"id":"5f9bd91d.3de478","type":"debug","z":"505d6f18.777de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":300,"wires":[]},{"id":"56c2de36.b02aa","type":"change","z":"505d6f18.777de","name":"Utente non autorizzato","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Utente non autorizzato","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["bc09f0e.afa8b1"]]},{"id":"637d0f20.8defb","type":"function","z":"505d6f18.777de","name":"save on stMotors","func":"global.set(\"stMotors\",msg.payload);","outputs":0,"noerr":0,"x":390,"y":40,"wires":[]},{"id":"a3f291cf.db5d1","type":"function","z":"505d6f18.777de","name":"save on stValves","func":"global.set(\"stValves\",msg.payload);","outputs":0,"noerr":0,"x":390,"y":100,"wires":[]},{"id":"35cad376.d8c78c","type":"telegram command","z":"505d6f18.777de","name":"","command":"/status","bot":"8cb7f71b.e1da38","strict":false,"x":110,"y":500,"wires":[["c7fe9cfa.20d43","fe0e3bd8.c90ed8"],["8f53f5bf.29ad08"]]},{"id":"8f53f5bf.29ad08","type":"change","z":"505d6f18.777de","name":"Comando Errato","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Comando errato","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":540,"wires":[["637c4146.9dd1a","fc4c8376.22abf"]]},{"id":"637c4146.9dd1a","type":"telegram sender","z":"505d6f18.777de","name":"","bot":"8cb7f71b.e1da38","x":550,"y":540,"wires":[[]]},{"id":"e0d70a8c.603d68","type":"telegram sender","z":"505d6f18.777de","name":"","bot":"8cb7f71b.e1da38","x":770,"y":440,"wires":[[]]},{"id":"c7fe9cfa.20d43","type":"function","z":"505d6f18.777de","name":"","func":"var statusMotors = global.get(\"stMotors\").data;\nvar statusValves = global.get(\"stValves\").data;\nvar status;\n\nswitch (msg.payload.content.toUpperCase().trim()){\n    case \"MOTOR1\":\n        status = statusMotors.m1.value;\n        msg.payload.content = \"MOTOR1 \" + status;\n        break;\n    case \"MOTOR2\":\n        status = statusMotors.m2.value;\n        msg.payload.content = \"MOTOR2 \" + status;\n        break;\n    case \"MOTOR3\":\n        status = statusMotors.m3.value;\n        msg.payload.content = \"MOTOR3 \" + status;\n        break;\n    case \"MOTOR4\":\n        status = statusMotors.m4.value;\n        msg.payload.content = \"MOTOR4 \" + status;\n        break;\n    case \"MOTOR5\":\n        status = statusMotors.m5.value;\n        msg.payload.content = \"MOTOR5 \" + status;\n        break;\n    case \"MOTOR6\":\n        status = statusMotors.m6.value;\n        msg.payload.content = \"MOTOR6 \" + status;\n        break;\n    case \"MOTOR7\":\n        status = statusMotors.m7.value;\n        msg.payload.content = \"MOTOR7 \" + status;\n        break;\n    case \"MOTOR8\":\n        status = statusMotors.m8.value;\n        msg.payload.content = \"MOTOR8 \" + status;\n        break;\n    case \"VALVE1\":\n        status = statusValves.v1.value;\n        msg.payload.content = \"VALVE1 \" + status;\n        break;\n    case \"VALVE2\":\n        status = statusValves.v2.value;\n        msg.payload.content = \"VALVE2 \" + status;\n        break;\n    case \"VALVE3\":\n        status = statusValves.v3.value;\n        msg.payload.content = \"VALVE3 \" + status;\n        break;\n    case \"VALVE4\":\n        status = statusValves.v4.value;\n        msg.payload.content = \"VALVE4 \" + status;\n        break;\n    case \"VALVE5\":\n        status = statusValves.v5.value;\n        msg.payload.content = \"VALVE5 \" + status;\n        break;\n    case \"VALVE6\":\n        status = statusValves.v6.value;\n        msg.payload.content = \"VALVE6 \" + status;\n        break;\n    case \"VALVE7\":\n        status = statusValves.v7.value;\n        msg.payload.content = \"VALVE7 \" + status;\n        break;\n    case \"VALVE8\":\n        status = statusValves.v8.value;\n        msg.payload.content = \"VALVE8 \" + status;\n        break;\n    case \"MOTORS\":\n        msg.payload.content =   \"MOTOR1 \" + statusMotors.m1.value + \"\\n\" +\n                                \"MOTOR2 \" + statusMotors.m2.value + \"\\n\" +\n                                \"MOTOR3 \" + statusMotors.m3.value + \"\\n\" +\n                                \"MOTOR4 \" + statusMotors.m4.value + \"\\n\" +\n                                \"MOTOR5 \" + statusMotors.m5.value + \"\\n\" +\n                                \"MOTOR6 \" + statusMotors.m6.value + \"\\n\" +\n                                \"MOTOR7 \" + statusMotors.m7.value + \"\\n\" +\n                                \"MOTOR8 \" + statusMotors.m8.value + \"\\n\";\n        break;\n    case \"VALVES\":\n        msg.payload.content =   \"VALVE1 \" + statusValves.v1.value + \"\\n\" +\n                                \"VALVE2 \" + statusValves.v2.value + \"\\n\" +\n                                \"VALVE3 \" + statusValves.v3.value + \"\\n\" +\n                                \"VALVE4 \" + statusValves.v4.value + \"\\n\" +\n                                \"VALVE5 \" + statusValves.v5.value + \"\\n\" +\n                                \"VALVE6 \" + statusValves.v6.value + \"\\n\" +\n                                \"VALVE7 \" + statusValves.v7.value + \"\\n\" +\n                                \"VALVE8 \" + statusValves.v8.value + \"\\n\";\n        break;\n    case \"ALL\":\n        msg.payload.content =   \"MOTOR1 \" + statusMotors.m1.value + \"\\n\" +\n                                \"MOTOR2 \" + statusMotors.m2.value + \"\\n\" +\n                                \"MOTOR3 \" + statusMotors.m3.value + \"\\n\" +\n                                \"MOTOR4 \" + statusMotors.m4.value + \"\\n\" +\n                                \"MOTOR5 \" + statusMotors.m5.value + \"\\n\" +\n                                \"MOTOR6 \" + statusMotors.m6.value + \"\\n\" +\n                                \"MOTOR7 \" + statusMotors.m7.value + \"\\n\" +\n                                \"MOTOR8 \" + statusMotors.m8.value + \"\\n\" +\n                                \"\\n\"+\n                                \"VALVE1 \" + statusValves.v1.value + \"\\n\" +\n                                \"VALVE2 \" + statusValves.v2.value + \"\\n\" +\n                                \"VALVE3 \" + statusValves.v3.value + \"\\n\" +\n                                \"VALVE4 \" + statusValves.v4.value + \"\\n\" +\n                                \"VALVE5 \" + statusValves.v5.value + \"\\n\" +\n                                \"VALVE6 \" + statusValves.v6.value + \"\\n\" +\n                                \"VALVE7 \" + statusValves.v7.value + \"\\n\" +\n                                \"VALVE8 \" + statusValves.v8.value + \"\\n\";\n         \n        break;\n    default:\n        msg.payload.content = \"Error\";\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["ba8b52ad.314ac"]]},{"id":"fc4c8376.22abf","type":"debug","z":"505d6f18.777de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":620,"wires":[]},{"id":"fe0e3bd8.c90ed8","type":"debug","z":"505d6f18.777de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":240,"y":400,"wires":[]},{"id":"ba8b52ad.314ac","type":"change","z":"505d6f18.777de","name":"","rules":[{"t":"change","p":"payload.content","pt":"msg","from":"true","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload.content","pt":"msg","from":"false","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["e0d70a8c.603d68"]]},{"id":"3f147b86.1dd394","type":"debug","z":"505d6f18.777de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":340,"wires":[]},{"id":"76908507.c81e2c","type":"debug","z":"505d6f18.777de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":200,"wires":[]},{"id":"8cb7f71b.e1da38","type":"telegram bot","z":"","botname":"SchndeierAssistantBot","usernames":"","chatids":"33633930","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"2108c760.32f9c8","type":"SE_Modbus-Client","z":"","name":"PLC_EX","clienttype":"tcp","bufferCommands":"1","tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","commandDelay":"100","clientTimeout":"10000","reconnectTimeout":"2000"}]